$gray: #495057;

.tag {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagBox {
    width: 650px;
    height: 53px;
    background-color: snow;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-style: solid;
}

.hastagInput {
    width: min-content;
    border-radius: 13px;
    font-size: 20px;
    padding-left: 8px;
    display: inline-flex;
    min-width: 150px;
    background: transparent;
    border: none;
    outline: none;
    cursor: text;
}

.hashtag {
    width: max-content;
    height: 30px;
    background-color: $gray;
    color: #fff;
    margin: 3px;
    padding: 0px 5px;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

/* .deleteBtn {
    width: 20px;
    height: 20px;
    // border-radius: 20px;
    background-color: snow;
    cursor: pointer;
    border: 0;
    margin-left: 3px;
}

.deleteBtn :before {
    transform: rotate(45deg);
}
.deleteBtn :after {
    transform: rotate(-45deg);
}

 */

.deleteBtn {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 2em; 
    height: 2em;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
	
	&:before, &:after {
		position: absolute;
		top: 15%; 
		width: .125em; 
        height: 70%;
		transform: rotate(45deg);
		background: #fff;
		content: ''
	}
	
	&:after { transform: rotate(-45deg); }
}